# **Introduction**
the data contains information that are provided from The Movie Database (TMDb). It consists of two datasets

One of movies, It collects 5000+ movies and contains various details about movies for analysis including user ratings, popularity, revenue, budget, run time, keywords and vote_average 

The other is credits contains full credits for both the cast and the crew

The movies informatin could provied answer for  many important question :

how successful this movies are(by exploring the votes an revenue they get)?

movies with higher votes and higher popularity?


which are the most popular movies(depend on the revenue and the votes )? 

which movies have the highest budget ? 

how the runtime of the movie affect the movie rate or popularity? 

**generally**: try to investigates which are the more important features that affect the movie success? 

how the different feature effected by each other? 

and the different measurements of success of the movies?

## **Data Wrangling**

####**General Properties**

**Import** required lipararies to get some analysis and exploration to the  data

In [ ]:
import numpy as np 
import pandas as pd  
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Loading the dataset and get a general impression about the data and how it looks

In [ ]:
df_credits = pd.read_csv("/content/tmdb_5000_credits.csv")
df_movies = pd.read_csv("/content/tmdb_5000_movies.csv")

**The Movies DataSet**

In [ ]:
df_movies.head()

In [ ]:
df_movies.shape

The Movies dataset is consistes of  

4803 row 

20 column

In [ ]:
df_movies.columns

In [ ]:
df_movies.info()

In [ ]:
df_movies.isnull().sum()

By checking the missing values within the data set we could observe that only five columns have missing values 

could found them within:

homepage, overview, release_date, runtime and tagline attributes 

Only two columns (homepage & tagline) have a lot of null values and by looking at them carefully, I find them are not important to my analysis so I will drop them during the cleaning process

In [ ]:
df_movies.describe()


the most important observation by exploring the above table that the minimum values for some row within the  budget, revenue, runtime and vote count

In [ ]:
zero_budget = df_movies.query('budget== 0')
(df_movies.budget == 0 ).sum()

In [ ]:
zero_budget.head()

In [ ]:
(df_movies.revenue == 0 ).sum()

In [ ]:
(df_movies.runtime == 0 ).sum()

In [ ]:
df_zero = df_movies.query('budget== 0 and revenue==0')

In [ ]:
df_zero.head()

In [ ]:
df_zero.shape

First: there is a 1037 row with zero value within the budget column
1427 row with zero value within the revenue column
and 35 row for runtime and since the two columns revenue and budget intersected in 890 

So I supose that the budget and the revenue and also runtime columns that have zero values are a missing values and for my analysis these two feature is very important so I will drop these recored contains zeros within the revenue and budget columns to avoid the risk of imputing them

In [ ]:
df_movies.duplicated().sum()

the movies dataset has no duplicates row

### **The Credit DataSet**

In [ ]:
df_credits.head()

In [ ]:
df_credits.info()

In [ ]:
df_credits.isnull().sum()

This data contains 

4803 rows 

4 columns

and has no missing values

In [ ]:
df_credits.duplicated().sum()

Also the credits dataset has no duplicates

###**Data Cleaning**

get ready of the less important columns tha want effect our analysis such homepage & tagline

In [ ]:
cols = ['homepage', 'tagline', 'overview']
df_movies.drop(cols, axis=1, inplace=True)

In [ ]:
df_movies.head()

In [ ]:
df_movies.shape

**After** removing the unnessary columns the movies dataset columns become 17

**Then** drop the zero values for the revenue, budget and runtime for the movies dataset

In [ ]:
df_movies.query('revenue != 0', inplace=True)

In [ ]:
df_movies.query('budget != 0', inplace=True)

In [ ]:
df_movies.query('runtime != 0', inplace=True)

In [ ]:
(df_movies.revenue == 0).sum()

In [ ]:
(df_movies.budget == 0).sum()

In [ ]:
(df_movies.runtime == 0).sum()

In [ ]:
df_movies.info()

**After Cleaning** and handling the missing values now the data is consist of 

3229 row 

17 column 

and have no missing or inconsistant values or zero values

#**Exploratory Data Analysis**

The success of any movie is measure by how much he gain from the box office or the votes and rates the movie get so the most important feature to start with is check how and which feature have the great effect on the revenue and rates

**Checking** relation between **budget** & **population** 

between **budget** & **revenue**

between **budget** & **vote_average** 

**popularity** & **vote_average**

In [ ]:
df_movies.budget.hist()
plt.ylabel('budget')
plt.title('Budget Histogram')
plt.show()

In [ ]:
plt.title('Budget Distributian')
sns.distplot(df_movies.budget)

by looking at the budget histogram we found the the histogram is left skewed and avery few movies budget more 200,000,000

In [ ]:
df_movies.revenue.hist()
plt.ylabel('Revenue')
plt.title('Revenue Histogram')
plt.show()

In [ ]:
plt.title('Movies Budget')
sns.boxplot(df_movies.budget)

In [ ]:
plt.figure(figsize =(8,8))
plt.title('Movies Revenue')
sns.boxplot(df_movies.revenue)

by looking to the  quartiles represented by the boxplotof the revenue and budget we found out the is  many  outliers

In [ ]:
df_movies.plot(kind = 'hist', y = 'popularity', bins = 25, range = (0,250))
plt.show()

In [ ]:
df_movies.plot(kind='scatter', x='revenue', y='budget', alpha=.5, color='r')
plt.xlabel('revenue')
plt.ylabel('budget')
plt.title('Revenue VS Budget')
plt.show()

In [ ]:
df_movies['revenue'].corr(df_movies['budget'])

**Revenue Vs Budget**

by ploting the relation between the budget and the revenue and  explore the **correlation coefficient** for the two attribute which is 0.7 it is a positive stronge correlation 

that means by increasing the budget of the movie it mostly possible to get a high revenue which i consider a type of success

In [ ]:

df_movies[np.logical_and(df_movies['budget']>250000000, df_movies['vote_average']>7)]

restricting the result of the dataframe we found that only two movies the budget exceed 250,000,000 and get rate 7 or more

convert movies rate into levels

In [ ]:
df_movies['vote_average'].hist()

In [ ]:
plt.figure(figsize=(8,8))
plt.title('Rates Distributian')
sns.distplot(df_movies.vote_average)

by chechking looking at the voting average distribution we could see that the data is distributed normaly

In [ ]:
print(df_movies['status'].value_counts(dropna = False))

In [ ]:
plt.figure(figsize=(6,6))
pl = sns.countplot(x = 'status', data =df_movies,)
plt.title('status bar chart')
for p in pl.patches:
        pl.annotate('{:.2f}%'.format(p.get_height()/len(df_movies)*100), (p.get_x()+0.1, p.get_height()+50))
plt.show()

Sine all movies are release so the movies status will not be important for our analysis

In [ ]:
df_movies.plot(kind='scatter', x='popularity', y='budget', alpha=.5, color='r')
plt.xlabel('popularity')
plt.ylabel('budget')
plt.title('popularity VS Budget')
plt.show()

In [ ]:
df_movies.plot(kind='scatter', x='popularity', y='vote_average', alpha=.7, color='r')
plt.xlabel('popularity')
plt.ylabel('vote_average')
plt.title('popularity VS vote_average')
plt.show()

the previous figure of popularity VS vote_average are related since the high average vote the movie has the more population the movie get

In [ ]:
plt.figure(figsize=(15,15))
pl = sns.countplot(x = 'original_language', data =df_movies,)
plt.title('original_language bar chart')
for p in pl.patches:
        pl.annotate('{:.2f}%'.format(p.get_height()/len(df_movies)*100), (p.get_x()+0.1, p.get_height()+50))
plt.show()

by discovering the movies language there is more than 96% of movies ar in english

In [ ]:
plt.figure(figsize=(8,8))
plt.title('RunTime Distributian')
sns.distplot(df_movies.runtime)

In [ ]:
plt.figure(figsize =(8,8))
plt.title('Movies runtime')
sns.boxplot(df_movies.runtime)

here are the quartiles and boxplot of the runtime  
50 %  of the movies is less than 110 minutes

In [ ]:
df_movies.plot(kind='scatter', x='runtime', y='vote_average', alpha=.7, color='r')
plt.ylabel('runtime')
plt.xlabel('vote_average')
plt.title('runtime VS vote_average')
plt.show()

In [ ]:
df_movies.plot(kind='scatter', x='runtime', y='revenue', alpha=.7, color='r')
plt.ylabel('runtime')
plt.xlabel('revenue')
plt.title('runtime VS revenue')
plt.show()

chech the movies with most average votes

In [ ]:
df_movies.info()

In [ ]:
df_revenue = df_movies.sort_values(['revenue'], ascending=[False])

In [ ]:
df_revenue.head()

Avatar & Titanic are the most two movis get a revenew

In [ ]:
df_vote = df_movies.sort_values(['vote_average'], ascending=[False])

In [ ]:
df_vote.head()

here we are with the most rated movie is **The Shawshank Redemption** it get  average votes around 8.5

In [ ]:
df_budget = df_movies.sort_values(['budget'], ascending=[False])

In [ ]:
df_budget.head()

Pirates of the Caribbean: and its athor part are hves a great budget

check the feature effects and relation between them

In [ ]:
df_movies.corr()

In [ ]:
plt.figure(figsize=(30, 20))
sns.heatmap(df_movies.corr(), annot=True)

#**Conclsion**

First we suppose and ask some general question  and The result turned out that the movie wit the most revenue and the highest average_votes so, I focused on the movies which are with high revenue. I found movies with higher revenue are with higher popularity.

second the movie budegt have a great effect in both revenue and  average votes

 I assume the zero values in revenue and budget column are missing and  also in runtime  and i handel this by drop this column and  also drop the  less important  coulmns

a  exploration are within the notebook